.container{
margin: 2cm;

}

input{
  font-family:"Montserrat";
  color: orangered;
  width: 150px;
  line-height: 60px;
  text-align: right;
  border-radius: 8px;
  border: 1px dotted darkred;
  outline: none;
  font-size: 2.5rem;
}

label{
  font-size: 'Montserrat';
  display: block;
  margin-top: 10px;
}